<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBXTaIhOw7auWIDbQXcB7h355TX7aA56Hg</string>
	<key>GCM_SENDER_ID</key>
	<string>228277979693</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.toh1n.chatapp.flutterFirebaseChatApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-firebase-chat-76c32</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-firebase-chat-76c32.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:228277979693:ios:8cf78c93db1afdd08046a4</string>
</dict>
</plist>